main{
  position: relative;
}

.main-container div{
  text-align: center;
  padding-bottom: 20px;
}

.main-container img{
  width: 80%;
  height: 90%;
  border: 4px solid;
  border-image: linear-gradient(to right, #f4c449db, #f38cdbaa, #24bffcaa);
  border-image-slice: 1;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  position: absolute;
  border: 10px solid;
  border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
  border-image-slice: 1 fill;
  overflow-y: scroll;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}